/*********fonts*********** */
@font-face {
  font-family: Roboto-Black;
  src: url(../fonts/Roboto-Black.ttf);
}

@font-face {
  font-family: Roboto-Regular;
  src: url(../fonts/Roboto-Regular.ttf);
}

/*********layouts******* */
body {
  background: #56b9d0;
  padding: 0;
  margin: 0;
  font: 16px Roboto-Regular;
  color: #3b3f42;
}

::after, ::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 536px;
  margin: 0 auto;
}

.clear {
  clear: both;
}

/******header********** */
header {
  background: #3b3f42;
  height: 70px;
  display: block;
  position: relative;
}

.logo {
  position: absolute;
  top: 5px;
  left: 30px;
}

.login {
  position: absolute;
  top: 23px;
  right: 30px;
  color: #fff;
  font: 16px Roboto-Regular;
  text-transform: uppercase;
}

/*****content********* */
#main_content {
  background: url(../images/layout-mid.png) no-repeat bottom #fff;
  padding: 17px 30px;
}

h1 {
  padding: 35px 0;
  text-align: center;
  display: block;
  border: 1px dashed #3b3f42;
  width: 100%;
  color: #f14b27;
  font: 600 36px Roboto-Black;
  text-transform: uppercase;
}

h2 {
  font: 400 24px Roboto-Regular;
  border-bottom: 1px dashed #3b3f42;
  padding-bottom: 15px;
  text-transform: uppercase;
}

h3.order_now {
  position: relative;
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
  color: #f14b27;
  font-weight: normal;
  margin-bottom: 20px;
}

h3.order_now:before, h3.order_now:after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 39%;
  height: 1px;
  background: #f14b27;
  border: solid #FFF;
  border-width: 0 10px;
}

h3.order_now:before {
  margin-left: -100%;
}

h3.order_now:after {
  margin-right: -100%;
}

.ingridients {
  width: 100%;
  padding: 0 15px;
}

.ingridients tr {
  border-bottom: 1px solid #a9a9a9;
}

.ingridients td {
  height: 27px;
  border-bottom: 1px solid #a9a9a9;
}

.ingridients td:nth-child(1) {
  width: 54.23%;
  font-size: 16px;
  text-transform: uppercase;
}

.ingridients td:nth-child(2) {
  width: 14.194%;
}

.ingridients td:nth-child(2) input {
  width: 65px;
  padding: 0;
  border: 1px solid #a9a9a9;
  font-size: 14px;
}

.ingridients td:nth-child(3) {
  width: 4.237%;
  text-align: center;
  font-size: 14px;
}

.ingridients td:nth-child(4) {
  width: 8.474%;
  font-size: 14px;
}

.ingridients td:nth-child(5) {
  width: 11.415%;
  font-size: 14px;
  color: #f14b27;
}

.radio_size p {
  font-size: 16px;
  text-transform: uppercase;
  position: relative;
}

.radio_size p.active {
  color: #f14b27;
  border-bottom: 1px solid #3b3f42;
}

.radio_size p span {
  display: none;
  position: absolute;
  right: 0px;
  top: 0px;
}

.radio_size p.active span {
  display: block;
}

.input_spiner {
  position: relative;
}

.spiner {
  position: absolute;
  top: 3px;
  right: 8px;
  width: 15px;
  height: 13px;
  background: #f1f1f1;
}

.qty_plus {
  position: absolute;
  background: url(../images/arrow_up.png) no-repeat;
  width: 7px;
  height: 4px;
  top: 2px;
  left: 4px;
  text-indent: -9999px;
}

.qty_minus {
  position: absolute;
  background: url(../images/arrow_down.png) no-repeat;
  width: 7px;
  height: 4px;
  top: 7px;
  left: 4px;
  text-indent: -9999px;
}

div.total {
  border-top: 1px dashed #3b3f42;
  margin-top: 60px;
  padding-top: 15px;
  font-size: 24px;
  text-transform: uppercase;
  position: relative;
  height: 75px;
}

.total_text {
  position: absolute;
  left: 0px;
}

.total_sum {
  color: #f14b27;
  position: absolute;
  right: 0px;
}

.form_item {
  width: 49.5%;
  display: inline-block;
}

.form_item label {
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 10px;
  display: block;
  padding-left: 5px;
}

.form_item input {
  width: 215px;
  height: 33px;
}

.form-submit {
  margin: 25px 0 70px 0;
  font-size: 18px;
  text-transform: uppercase;
  width: 115px;
  height: 40px;
  background: #f14b27;
  color: #fff;
  border: 0 none;
  cursor: pointer;
}

.thanks_text {
  font-size: 24px;
  color: #f14b27;
  text-align: center;
  border-bottom: 0 none;
}

/*******footer******* */
.footer_copyright {
  color: #fff;
  text-align: center;
  padding: 225px 0 17px;
}
